/*Body*/
@font-face {
    font-family: MontserratM;
    src: url(fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: MontserratR;
    src: url(fonts/Montserrat-Regular.ttf);
}
body{
    font-family: MontserratR;
    position: absolute;
    padding-left: 50px;
}
/*Footer*/
.footer{
    text-align: center;
    padding: 5%;
    background-color: black;
    color: white;
}
/*Header*/
.header{
    width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.liens{
    color: #FF6060;
}
nav{
    width: 20%;
    display: flex;
    justify-content: space-between;
    
}

.liens{
    text-decoration: none;
}
/*Bannière*/
.banner{
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    opacity: 80%;
    mix-blend-mode: darken;
    object-fit: cover;
}
/*Home*/
.logementTitle{
    font-size: 36px;
    color: #FF6060;
}
.location{
    font-size: 18px;
    color: #FF6060;
}
.greyBackground{
    background: #F7F7F7;
}
li{
    list-style-type: none;
    position: relative;
    margin-bottom: 10px;
    height: 340px;
    width: 340px;
    border-radius: 10px;

}
.listeLogements{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.imgLogement{
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 10px;
}
.gradient{
    box-shadow: inset 0em -3em 5em black;
    /*background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);*/
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    border-radius: 10px;
}
.titreLogement{
    max-width: 50%;
    color: white;
    font-size: 1.1em;
    position: absolute;
    bottom: 15px;
    left: 10px;
    z-index: 3;
}
/*Fiche Logement*/
.boxTags{
    margin-left: -25px;
}
.tags{
    font-family: MontserratR;
    background: #FF6060;
    border-radius: 10px;
    color: white;
    min-width: 120px;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexHrz{
    display: flex;
    
}
.spaAround{
    justify-content: space-around;
    align-items: center;
}
.spaBetw{
    justify-content: space-between;
    align-items: center;
}
.owner{
    display: flex;
}
.ownerName{
    font-size: 18px;
    color: #FF6060;
}
.ownerImg{
    border-radius: 100%;
    width: 64px;
    height: 64px;
}
.boxInfo{
    width: 582px;

}
.boxTitle{
    font-family: MontserratM;
    font-size: 18px;
    display: flex;
    height: 52px;
    width: 582px;
    background: #FF6060;
    border-radius: 10px;
    color: white;
    text-align: left;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;

}
.boxText{
    font-family: MontserratR;
    font-size: 18px;
    margin-top: 25px;
    padding-top: 50px;
    height: 249px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    border-radius: 10px;
    color: #FF6060;
    width: 582px;
}

.listLineHeight{
    line-height: 10px;

}