/*Body*/
@font-face {
    font-family: MontserratM;
    src: url(fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: MontserratR;
    src: url(fonts/Montserrat-Regular.ttf);
}
body{
    font-family: MontserratR;
    margin: 0%;
    padding: 0%;
}
ul{
    padding: 0%;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
/*Footer*/
.footer{
    width: 100%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: black;
    color: white;
}
/*Header*/
.header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    font-size: 18px;

}
.liens{
    color: #FF6060;
}
.lienError{
    color: #FF6060;
    text-decoration: underline;
    font-size: 18px;
}
.liens:hover{
    text-decoration: underline;
}
nav{
    width: 175px;
    display: flex;
    justify-content: space-between;
    
}

.liens{
    text-decoration: none;
}
/*Bannière*/
.banner{
    width: 90%;
    height: 223px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bannerImg{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    opacity: 100%;
    mix-blend-mode: darken;
    object-fit: cover;
    
}
.bannerTitleHome{
    position: absolute;
    font-size: 50px;
    color: white;

}
/*Home*/
.logementTitle{
    font-size: 36px;
    color: #FF6060;
}

.listeLogements{
    background: #F7F7F7;
    border-radius: 25px;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 3%;
    
}
.caseLogement{
    list-style-type: none;
    position: relative;
    height: 300px;
    width: 28%;
    border-radius: 10px;
    margin-bottom: 5%;

}
.imgLogement{
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 10px;
    object-fit: cover;
}
.gradient{
    box-shadow: inset 0em -3em 5em black;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    border-radius: 10px;
}
.titreLogement{
    max-width: 50%;
    color: white;
    font-size: 1.1em;
    position: absolute;
    bottom: 15px;
    left: 10px;
    z-index: 3;
}
/*Fiche Logement*/
.blocPictures{
    position: relative;
    width: 90%;
}
.location{
    font-size: 18px;
    color: #FF6060;
}
.logementPictures{
    height: 315px;
    width: 100%;
    mix-blend-mode: normal;
    object-fit: cover;
    border-radius: 25px;
}
.blocArrowsPictures{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    height: 315px;
    width: 100%;
    border-radius: 25px;
}
.oneArrowPictures{
    margin-left: 10px;
    margin-right: 10px;
    transform: scale(0.8);
}
.oneArrowPictures:hover{
    cursor: pointer;
    transform: scale(1);
}
.tags{
    font-family: MontserratR;
    background: #FF6060;
    border-radius: 10px;
    color: white;
    min-width: 120px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 2%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infosLogement{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexHrz{
    display: flex;
    
}
.spaAround{
    justify-content: space-around;
    align-items: center;
}
.spaBetw{
    justify-content: space-between;
    align-items: center;
}
.rightFiche{
    width: 20%;
}
.owner{
    display: flex;
    width: 150px;
    
}
.ownerName{
    font-size: 18px;
    color: #FF6060;
    width: 100px;
}
.ownerImg{
    border-radius: 100%;
    width: 64px;
    height: 64px;
}
.ratingStar{
    margin: 4px;
    height: 30px;
    width: 30px;
}
.ficheCollapse{
    margin-bottom: 5%;
    margin-top: 2%;
}

.collapseHalf{
    display: flex;
    flex-direction: column;
    width: 49%;
    align-self: start;

}
.collapseFull{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
.collapse_header{
    width: 95%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: MontserratR;
    font-size: 13px;
    height: 52px;
    background: #FF6060;
    border-radius: 10px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.collapse_content{
    background: #F7F7F7;
    font-family: MontserratR;
    font-size: 18px;
    margin-top: -10px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    height: auto;
    width: 95%;
    border-radius: 10px;
    color: #FF6060;
}

.listLineHeight{
    line-height: 5px;

}
.listBloc{
    margin-top: -10px;
}

/*404*/
.error{
    width: 100%;
    text-align: center;
    color: #FF6060;
    margin-bottom: 50px;
    margin-top: 50px;
}
.errorImg{
    width: 40%;
    height: auto;
    margin-bottom: 5%;
}

/*mobile*/
@media only screen and (max-width: 768px){
    body{
        padding-right: 1%;
        padding-left: 2%;
        padding-top: 5%;
    }
    .logoHeader{
        width: 35%;
    }
    nav{
        width: 150px;
    }
    .banner{
        width: 100%;
        height: 150px;
    }
    .footer{
        width: 100%;
        padding: 1.5%;
        margin-left: -1%;
    }
    .logoFooter{
        width: 25%;
        margin-top: 10px;
    }
    .bannerTitleHome{
        font-size: 25px;    
    }
    .listeLogements{
        width: 100%;
        flex-direction: column;
        justify-content: none;
        background: none;
        margin: 0%;
        
    }
    .caseLogement{
        width: 100%;
        height: 300px;
    }
    .logementTitle{
        font-size: 36px;
    }
    .wrapTags{
        flex-wrap: wrap;
    }
    .infosLogement{
        flex-direction: column;
    }
    .tags{
        margin-top: 0%;
    }
    .rightFiche{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .ratingStar{
        order: -1;
    }
    .owner{
        order: 1;
    }
    .ownerName{
        align-self: center;
    }
    .collapseHalf{
        margin-bottom: 5%;
        width: 90%;
    }
    .collapseFull{
        width: 90%;
        margin-right: 3%
    }
}